BLOCKFROST_API_KEY="previewB0t0eC8F6j6ncdErw88gZy53vI3Hxy9R"
KOIOS_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZGRyIjoic3Rha2UxdTl0Yzhjc2Vsd3Q3ZnZlNGp0M3FnN2pnMDl3Mm45NTNsN21qZndsN2Z0bnd5Y3EwYXN6cHIiLCJleHAiOjE3ODgwOTMxODMsInRpZXIiOjEsInByb2pJRCI6InRpcGphciJ9.zZn0sXrSWgP519WU0477SzGvxhRGXXTp1ZXmpJkyE8U"
APP_NETWORK="preview"
APP_MNEMONIC="fame volcano bike castle pear limb process pact clown drop dutch family doll ready flower decline curve rescue style reform gap ski network holiday"
NEXTAUTH_SECRET="26ujeSHYZG+CYITROeDCEmZw6vFvKCcvXIl77lLMA8Q="
NEXTAUTH_URL="http://localhost:3000"
APP_WALLET_ADDRESS="addr_test1qrr879mjnxd3gjqjdgjxkwzfcnvcgsve927scqk5fc3gfs2hs03pn7uhujentyhzq3ays72u4xtfrlahyjalujhxufsqdeezc0"
